<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolarWinds.DLLChecker.Backend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="backend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolarWinds.DLLChecker.Backend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="backend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolarWinds.DLLChecker.Backend.Properties.Settings>
            <setting name="DiagnosticsPath" serializeAs="String">
                <value>C:/diagnostics</value>
            </setting>
        </SolarWinds.DLLChecker.Backend.Properties.Settings>
        <backend.Properties.Settings>
            <setting name="DiagnosticsPath" serializeAs="String">
                <value>C:/diagnostics</value>
            </setting>
        </backend.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SolarWinds.DLLChecker.Backend.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\PatternsDatabase.sdf</value>
            </setting>
        </SolarWinds.DLLChecker.Backend.Properties.Settings>
    </applicationSettings>
</configuration>